* {box-sizing: border-box}

section {
  display: flex;
  margin: 5%;
}

header {
  height: 400px;
  width: 100%;
}

header img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: 0% 30%;
}

.container {
  display: flex;
  position: relative;
  margin: 5px;
}

.selectionImg {
  border: 1px solid #ddd;
  border-radius: 4px;
  /* padding: 5px; */
  width: 100%;
  object-fit: cover;
}

.container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;

  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  
  color: #f1f1f1;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
